<?php
declare(strict_types=1);

namespace App\Routes%namespace%;

/* @note Deny direct file access */
if (defined('HAKU_ROOT_PATH') === false) exit;

use Haku\Delegation\Route;

use Haku\Http\{
	Method,
	Message,
	Messages\Json
};

// @NOTE The attribute below is optional
#[Route('/%routePath%')]
class %routeClass%
{

	#[Route('/')]
	public function list(): Message
	{
		return Json::from([
			'message' => "Hello from %routeClass%!",
		]);
	}

}
