<?php
declare(strict_types=1);

namespace App\Routes%namespace%;

/* @note Deny direct file access */
if (defined('HAKU_ROOT_PATH') === false) exit;

use Haku\Delegation\Route;

use Haku\Http\{
	Method,
	Message,
	Messages\Json
};

// @NOTE The attribute below is optional
#[Route('/%routePath%')]
class %routeClass%
{

	#[Route('/')]
	public function list(): Message
	{
		return Json::from([
			'records' => ["%routeClass%"],
		]);
	}

	#[Route('/', Method::Post)]
	public function create(): Message
	{
		return Json::from([
			'records' => ["%routeClass%"],
		]);
	}

	#[Route('/{id}')]
	public function show(int $id): Message
	{
		return Json::from([
			'record' => "%routeClass%#{$id}",
		]);
	}

	#[Route('/{id}', Method::Patch)]
	public function update(int $id): Message
	{
		return Json::from([
			'record' => "%routeClass%#{$id}",
		]);
	}

	#[Route('/{id}', Method::Delete)]
	public function delete(int $id): Message
	{
		return Json::from([
			'record' => "%routeClass%#{$id}",
		]);
	}

}
