<?php
declare(strict_types=1);

/* @note Deny direct file access */
if (defined('HAKU_ROOT_PATH') === false) exit;

use function Haku\Spec\{
	spec,
	describe,
	it,
	expect,
};

spec('%spec%', function()
{

	describe('Test Case', function()
	{

		it('can expect truthfulness', function()
		{
			return expect(true)->toBeTrue();
		});

	});

});
